* { box-sizing: border-box; }

body{
    font-family: 'Segoe UI';
    padding: 35px;
    margin: 0;
}

#bond-paper{
    height: 1150px;
    width: 900px;
    border: solid 1px;
    background-color: white;
    position: relative;
    left: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 0 auto;
}


#container{
    position: absolute;
    top: 45px;
    left: 50.5px;
    background-color: lightskyblue;
    border: solid 2px;
    width: 800px;
    height: 264px;
}
#container-2{
    background-color:ghostwhite;
    border: solid 2px;
    width: 360px;
    height: 792px;
   left: 50.5px;
    position: absolute;
    top: 325px;
}
#content{
    display: flex;
    flex-direction: row;
    margin: 30px auto 30px 30px;
}

hr{
    height: 2px;
    background-color: black;
    border-color: black;
}

h1{
    text-align: center;
    margin-bottom: 2px;
}

.content-2{
    display: flex;
    margin: 20px 20px 40px 10px;
    position: absolute;
}

.content-2-half{
    position: absolute;
    background-color:ghostwhite;
    border: solid 2px;
    width: 419px;
    height: 792px;
    top: -1px;
    left: 380px;
}

#container-4{
    padding: 0 10px;   
    max-width: 350px;
    width: 100%;
    margin-top: 30px;
}

#container-3{
    padding: 20px 0 0 10px;
    width: 95%;
    
}



#name{
    text-align: left;
    margin: 2px 0px;
}
#name1{
    text-align: center;
    margin: 2px 0px;
}

#p-info{
    margin:0;
    margin-left: 10px;
}

#p-img{
    width: 30px;
    height: 30px;
    margin: 5;
}

.vertical-center{
    display: flex;
    align-items: center;
}

#profile-pic{
    margin-left: 25px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#educ-highlight{
    position: absolute;
    border: solid 1px;
    top: 272px;
    left: -10px;
    width: 358px;
    background-color: lightskyblue;
}
#p-info-highlight{
    position: absolute;
    border: solid 1px;
    left: -10px;
    width: 358px;
    background-color: lightskyblue;
}

#skills-highlight{
    position: absolute;
    border: solid 1px;
    bottom: 138px;
    left: -10px;
    width: 358px;
    background-color: lightskyblue;
}

.signature{
    text-align: right;
}
.signature1{
    text-align: right;
    margin: -20px 40px 0 0;
}
